{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
Nieuw wachtwoord?
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Hallo {{user.username}}! 

Bezoek deze link om je wachtwoord opnieuw in te stellen:

{{url_reset}}{{user.confirmationToken}}

Groetjes,

{{greeter}}

{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}