{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
Welkom {{user.username}}!
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Hallo {{user.username}}! 

Bezoek deze link om je registratie te voltooien: 

{{url_confirm}}{{user.confirmationToken}}

Groetjes,

{{greeter}}

{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}